html {
	margin: 0;
	padding: 0;
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;
	background: url(BG.jpg) no-repeat 50% 50%;
	background-size: cover;
	height: 100vh;
	display: table;
}
.wrapper {
	position: absolute;
	top: 55%;
	right: 40%;
	transform: translate(-50%, -50%);
	width: 30%;
}
path {
	stroke: #fff;
	fill: #e22c2c;
	stroke-dasharray: 2000;
	opacity: 10;
	animation: animate 8s cubic-bezier(0,0.23,1,.1);
}

@keyframes animate {
	0% {
		opacity: 0;
		fill: none;
		stroke-dashoffset: 2000;
	}

	30% {
		opacity: 0;
		fill: none;
		stroke-dashoffset: 2000;
	}

	90% {
		fill: rgba(255, 255, 255, 0);
	}

	100% {
		opacity: 10;
		fill: rgba(255, 255, 255, 1);
		stroke-dashoffset: 0;
	}
}